<nav class="navbar navbar-expand-lg navbar-primary bg-white">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/brand.JPG" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav justify-content-center pl-3">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Men</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Clothing</a>
                        <a class="dropdown-item" href="#">Footwear</a>
                        <a class="dropdown-item" href="#">Accessories</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Women</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Clothing</a>
                        <a class="dropdown-item" href="#">Footwear</a>
                        <a class="dropdown-item" href="#">Accessories</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Electronics</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Ceel Phones</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home & Living</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Curtains</a>
                    </div>
                </li>
                <li class="nav-item">
                   <!--  <a class="nav-link" href="/search"><i class="fas fa-search"></i></a> -->
                   <form action="/search" method="get">
                       <input type="text" name="searchQuery" id="searchQuery">
                       <input type="submit" value="submit" class="fas fa-search">
                   </form>
                </li>
            </ul>
        </div>
            <ul class="nav justify-content-end float-right pull-right">
                <li class="pr-3 border-right border-dark"><a href="/login"><i class="fas fa-user fa-1x"></i></a></li>
                <li class="pl-3"><a href="/cart"><i class="fas fa-shopping-cart fa-1x"></i></a></li>
            </ul>
    </div>
</nav>