<div class="left-side-menu" style="">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 657px;">
                <div class="slimscroll-menu" style="overflow: hidden; width: auto; height: 657px;">
                    <!-- LOGO -->
                    <a href="index.html" class="logo text-center">
                        <span class="logo-lg">
                            <img src="/images/logo.JPG" alt="ShopEasy" width="100%">
                        </span>
                    </a>
                    <!--- Sidemenu -->
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Products</button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                 <ul>
                                     <li><a href="/products"></a></li>
                                     <li><a href="/addprouct"></a></li>
                                     <li><a href="/categories"></a></li>
                                     <li><a href="/subcategories"></a></li>
                                     <li><a href=""></a></li>
                                 </ul>
                                </div>
                            </div>
                        </div>
                        <a href="/customers">Customers</a>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Orders
        </button>
      </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="/orders_in_process">In process</a></li>
                                        <li><a href="/orders_completed">Completed</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Sidebar -->
                </div>
            </div>
            <!-- Sidebar -left -->
        </div>