<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <% include ./partials/navbar %>
    <div class="container-fluid bg-info">
        <h2 class="text-center p-3 text-white">About Shop Easy</h2>
    </div>
    <div class="container">
        <div class="p-2 m-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias repudiandae necessitatibus praesentium neque, sint ex voluptas facilis eveniet. Eveniet quisquam accusamus, quae sint consequuntur fugit voluptatibus ipsam, nisi quo iure ex consectetur sit vitae laudantium autem veritatis minima ullam obcaecati. Ex soluta totam, aspernatur culpa. Iste est earum minima odit dignissimos dolores quis quos, harum reiciendis dolore omnis aspernatur eligendi expedita, odio magni. Impedit ea tenetur molestias, enim esse rerum veritatis delectus velit, atque dolor fugiat, ratione culpa non repellendus quos dicta ipsum optio et maxime suscipit magnam eum at vero illo! Voluptatibus nisi sed qui, saepe deleniti fuga, itaque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita odio nesciunt, cum velit soluta laudantium blanditiis veritatis sed, culpa aperiam obcaecati totam nihil harum autem nulla fugit unde, reiciendis quasi placeat modi fuga architecto deleniti. Ipsum, doloremque illo provident nostrum, hic molestiae tempore, natus architecto sequi a earum magni consectetur deleniti qui labore dolorem error quibusdam ipsa ullam perspiciatis quia vel veritatis assumenda nobis. Iste dolorem, ratione nobis expedita perspiciatis, dicta pariatur adipisci veniam. Nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quisquam nisi, sapiente, quae necessitatibus accusamus placeat est saepe eius tempore et mollitia nulla voluptatum nesciunt! Quod tenetur et vero voluptatibus ut sapiente cumque expedita nisi incidunt! Obcaecati earum, rerum cum dignissimos deleniti culpa aliquam ullam maxime, possimus est vero repudiandae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestias, deleniti non voluptatem sequi ratione debitis iusto alias maxime aperiam velit, minima tempore quasi et.</p>
        </div>
    </div>
    <%include ./partials/footer%>
</body>

</html>