<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title%>
    </title>
    <link rel="icon" href="/images/icon.JPG">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>

<body>
    <div class="d-flex justify-content-center">
        <form class="shadow-lg bg-white rounded w-50" action="/signup" method="post">
            <h3 class="text-center">Create Your ShopEasy Account</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Re-Enter Password">
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-outline-secondary w-100">Register</button>
                </div>
                <div class="col-md-6">
                    <a href="/login" class="btn btn-outline-primary w-100">Login</a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>